  <footer id="footer" class="bg-scroll" style="background-image: url()">
    <div class="container">
      <div class="widget__row footer__widget">
        <div class="widget__col">
          <div id="wiloke_mailchimp-2" class="widget widget_newsletter">
            <h4 class="widget_title">Subscrible</h4>		<div class="mailchimp__content">
              <p>Subscribe now and never miss our new articles</p>
              <form class="pi_subscribe">
                <input type="email" class="pi-subscribe-email wiloke-subscribe-email form-remove" placeholder="Enter your email..." value="">
                <button type="submit" class="wiloke-submit-subscribe pi-btn pi-subscribe form-remove" data-sendingtext="Sending">Send <i class="icon_mail_alt"></i></button>
                <p class="message"></p>
              </form>
            </div>
          </div>
        </div>

        <div class="widget__col">
        </div>


      </div>

    </div>

    <div class="wo__container footer__bottom">

      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <div class="social_footer">
            <a href="https://www.facebook.com/reftrust/" target="_blank"><i class="fa fa-facebook"></i></a>                                        <a href="https://twitter.com/reftrust1" target="_blank"><i class="fa fa-twitter"></i></a>                                        <a href="https://www.youtube.com/user/reftrust" target="_blank"><i class="fa fa-youtube"></i></a>                                        <a href="https://www.instagram.com/reftrust1/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <div class="copyright">
            Copyright © 2018 axavera
          </div>
        </div>
      </div>

    </div>
    <div class="overlay" style="background-color:#eee "></div>
  </footer>
